@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<Virtualize Items="@Tests">
    <p>@context?.One</p>
    <p>@context?.Two</p>
    <p>@context?.Three</p>
    <p>@context?.Four</p>
    <p>@context?.Five</p>
</Virtualize>
